<!--The content below is only a placeholder and can be replaced.-->
<ng4-loading-spinner [threshold]="2000" [timeout]="40000" [zIndex]="9999"> </ng4-loading-spinner>
<div class="container-scroller">
  
  <div class="container-fluid page-body-wrapper">    
    <div class="main-panel">
	  <app-header></app-header>	
	  <!-- <router-outlet></router-outlet>  -->
	  <app-sidenav></app-sidenav>
	  <app-footer></app-footer>  
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>